SECRET_KEY=JI27Qgn5kJnbNcKg1qZipnkmb5-TgieHIC6iriR_hgT4nNSDaxYhl5MHSJRutaqKrzw

DEBUG=True

ALLOWED_HOSTS=localhost,127.0.0.1

POSTGRES_DB=forgemind

POSTGRES_USER=forgemind

POSTGRES_PASSWORD=forgemind

POSTGRES_HOST=postgres

POSTGRES_PORT=5432

REDIS_URL=redis://redis:6379/0

DJANGO_ENV=development

REDIS_URL=redis://redis:6379/0

JWT_ACCESS_TOKEN_DAYS=10
JWT_REFRESH_TOKEN_DAYS=7